<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>JS App!</title>
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/form_validator.js"></script>
  </head>
  <body>
    
    <form method="post" action="/accounts/create">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      
      <label for="email">Email</label>
      <input type="text" id="email" name="email">
      
      <div class="error"></div>
      <input type="submit" value="Sign up">
    </form>
    
    <script type="text/javascript">
      new FormValidator($('form'));
    </script>
    
  </body>
</html>

